services:
    sonata.media.adapter.service.aliyunoss:
        class: Giko\AliyunOssBundle\Services\AliyunOSS
        arguments: ['%giko_aliyun.oss.server%', '%giko_aliyun.oss.accessKeyId%', '%giko_aliyun.oss.accessKeySecret%']
    sonata.media.adapter.filesystem.aliyunoss:
        class: Giko\AliyunOssBundle\Services\Adapter
        arguments: ['@sonata.media.adapter.service.aliyunoss', '%giko_aliyun.oss.bucket%']
    sonata.media.filesystem.aliyunoss:
        class: Gaufrette\Filesystem
        arguments: ['@sonata.media.adapter.filesystem.aliyunoss']
    sonata.media.cdn.aliyunoss:
        class: Giko\AliyunOssBundle\Services\CDN
        arguments: ['http://%giko_aliyun.oss.bucket%.%giko_aliyun.oss.cdn_domain%', '%giko_aliyun.oss.accessKeyId%']
    